# Local directories
/release
/captures
/proguard
/design
/dist

# Local configuration file (sdk path, etc)
/local.properties
/keystore.jks

# Android Studio
.idea
*.iml
.gradle
local.gradle
build

# Local debug outputs
/.vscode/
*.hprof
*.log
/dump*.xml
/logcat_full.txt
/QQ*.png

# OSX files
.DS_Store
